@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar-header-text {
    font-weight: 600;
    font-size: 26px;
    font-family: "Roboto";
    border-color: #4b6cc1;
    height: 60px;
    text-align: center;
    width: 50px;
    border-style: solid;
}

#nav-link-item {
    color: white;
}

.portfolio-banner-web-section {
    background-color: #191a1d;
}

.banner-section-heading {
    color: white;
    font-family: "Roboto";
    font-size: 34px;
}

.banner-section-description {
    font-family: "Roboto";
    color: #9aa5b1;
    font-size: 24px;
}

.custom-button {
    border-width: 0px;
    color: white;
    font-family: "Roboto";
    border-radius: 4px;
    background-color: #4b6cc1;
    height: 45px;
    width: 130px;
}

.banner-section-image {
    height: 120px;
    width: 120px;

}

.portfolio-skills-section-container {
    background-color: #323f4b;
}

.portfolio-skill-card-container {

    padding: 15px;
    height: 100%;
    background-color: #323f4b;

    border-radius: 10px;
}

.portfolio-skills-bottom-section-container {
    background-color: #1f2933;
}

.portfolio-skills-section-main-heading {
    color: #cced00;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 600;
}

.portfolio-skills-section-heading {
    margin-top: 15px;
    color: white;
    font-size: 38px;
    font-family: "Roboto";
    font-weight: 600;
}

.portfolio-skills-section-description {
    color: #9aa5b1;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 400;
}

.portfolio-skills-section-image {
    width: 100%;
}

.portfolio-skill-card-title {
    margin-top: 10px;
    font-family: "Roboto";
    font-weight: 600;
    color: white;
    font-size: 26px;
}

.portfolio-skill-card-image {
    height: 100px;
    width: 100px;
}

.portfolio-project-section-container {
    background-color: #3e4c59;
}

.project-section-main-heading {
    color: #cced00;
    font-weight: 600;
    font-size: 22px;
    font-family: "Roboto";
}

.project-section-heading {
    color: white;
    font-weight: 600;
    font-size: 34px;
    font-family: "Roboto";
}

.project-card-container {
    border-radius: 8px;
    background-color: #323f4b;

}

.project-area {
    color: #9aa5b1;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto";
}

.project-name {
    color: white;
    font-weight: 300;
    font-size: 26px;
    font-family: "Roboto";
}

.project-image {
    border-radius: 10px;
    width: 100%;
}

.project-description {
    color: #9aa5b1;
    font-weight: 400;
    font-size: 22px;
    font-family: "Roboto";
}

.link-info {
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto";
    color: #cced00;
}

.services-section-container {
    background-color: #52606d;
}

.service-section-sub-heading {
    color: #cced00;
    font-size: 22px;
    font-weight: 600;
    font-family: "Roboto";
}

.service-section-heading {
    color: white;
    font-size: 36px;
    font-weight: 600;
    font-family: "Roboto";
}

.service-card {
    background-color: #323f4b;
    border-radius: 10px;
}

.service-card-image {
    height: 56px;
    width: 56px;
}

.service-card-heading {
    color: white;
    font-size: 26px;
    font-weight: 600;
    font-family: "Roboto";
}

.service-card-description {
    color: #9aa5b1;
    font-size: 22px;
    font-weight: 400;
    font-family: "Roboto";
}

.work-done-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size: cover;

}

.work-done-number {
    color: white;
    font-family: "Roboto";
    font-size: 34px;
    font-weight: 600;
}

.work-done-description {
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}

.hr-line {
    width: 50%;
    background-color: white;
}

.testimonial-section {
    padding: 40px;
    background-color: #1f2933;
}

.testmonial-heading {
    font-weight: 600;
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
}

.testimonial-description {
    font-weight: 600;
    color: white;
    font-family: "Roboto";
    font-size: 36px;
}

.carousel-description {
    font-weight: 500;
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 18px;
}

#carousel-image {
    margin-bottom: 8px;
    height: 110px;
    width: 110px;
    border-radius: 60px;

}

.carousal-container {
    padding: 20px;
    background-color: #323f4b;
}

.company-employee {
    font-weight: 300;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.carousel-indicators {
    text-align: right;
}

.footer-section-container {
    background-color: #001c32;
}

.footer-section-heading {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Roboto";
    color: #cced00;
    font-weight: 600;
}

.footer-section-description {
    font-size: 16px;
    font-family: "Roboto";
    color: #9aa5b1;
    font-weight: 500;
}

.footer-section-image {
    margin-right: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.footer-section-icon {
    color: #5a7184;
    font-size: 22px;
}